#main-nav,
.cat-box-content,
#sidebar .widget-container,
.post-listing {border-bottom-color: #37b8eb;}
.search-block .search-button,
#topcontrol,
#main-nav ul li.current-menu-item a,
#main-nav ul li.current-menu-item a:hover,
#main-nav ul li.current-menu-parent a,
#main-nav ul li.current-menu-parent a:hover,
#main-nav ul li.current-page-ancestor a,
#main-nav ul li.current-page-ancestor a:hover,
.pagination span.current,
.share-post span.share-text,
.flex-control-paging li a.flex-active,
.ei-slider-thumbs li.ei-slider-element,
.review-percentage .review-item span span,.review-final-score  {background-color:#37b8eb !important;}
::-webkit-scrollbar-thumb{background-color:#37b8eb !important;}
#topcontrol:hover {background-color:#57c4ee !important;}
footer, .top-nav, .top-nav ul li.current-menu-item:after  {border-top-color: #37b8eb;	}
.search-block::after {border-right-color:#37b8eb;}